// @import "assets/css/checkbox-switch.css";
@import "assets/css/_variables";

* {
  box-sizing: border-box;
}

html {
  background: #f8f8f8;
  min-height: 100vh;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  color: #444;
  padding: 0;
  margin: 0;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 1.2px;
  min-height: 100vh;
}

#app {
  min-height: 100vh;
}

#page-container {
  padding: calc(60px + #{$topbar-height}) 40px 20px;
  min-height: 100vh;
  position: relative;
}

@media (max-width: 600px) {
  #page-container {
    padding: 20px 10px;
  }
}

.page-content {
  width: 100%;
  max-width: $page-content-max-width;
  margin-left: auto;
  margin-right: auto;

  @media(min-width: calc(#{$narrow-screen} + 1px)) {
    padding-left: 65px;
    padding-right: 65px;
  }
}

.centered-content {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 300;
  letter-spacing: 0;

  &>strong {
    color: $color-brand;
    font-weight: 700;
  }
}

h1 {
  font-size: 50px;
  margin: 0 0 20px 0;
}

h2 {
  font-size: 32px;
  margin: 0 0 25px 0;
}

h3 {
  font-size: 22px;
  margin: 0 0 14px 0;
  font-family: 'Roboto', sans-serif;
}

h4 {
  font-size: 18px;
  margin: 0 0 5px 0;
}


p {
  font-size: 16px;
  margin: 10px 0 10px 0;

  &.is-large {
    font-size: 19px;
  }

  &.is-small {
    font-size: 0.7em;
  }

  &.color-brand {
    color: $color-brand;
  }
}



@media (max-width: 680px) {
  h1 {
    font-size: 32px;
    margin: 0 0 20px 0;
    line-height: 1.1;
  }

  h2 {
    font-size: 22px;
    margin: 0 0 10px 0;
  }

  h3 {
    font-size: 18px;
    margin: 0 0 5px 0;
  }

  h4 {
    font-size: 14px;
    margin: 0 0 5px 0;
  }

  p {
    font-size: 14px;
    margin: 10px 0 10px 0;
  }

  p {
    font-size: 16px
  }

  p.is-large {
    font-size: 18px;
  }
}

a {
  color: $color-brand;
}

hr {
  margin: 0 0 15px;
  background-color: #dbdbdb;
  height: 1px;
  border: none;
  display: block;
}

.modal-card{
  max-width:500px;
}

.modal-card-head,
.modal-card-foot {
  background-color: white;
  justify-content: space-between;
}

.modal .animation-content {
  padding: 20px;
}

.panel {
  background: white;
  border-radius: 6px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  padding: 20px;
  margin-bottom: 10px;
}

.panel:not(:last-child) {
  margin-bottom: 10px;
}

@media (max-width: 600px) {
  .panel {
    padding: 15px;
  }
}

input {
  padding: 15px;
  display: inline-block;
  width: 400px;
  max-width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: inherit;
}

.button,
.button:focus {
  border: 1px solid $color-brand;
  border-radius: 3px;
  font-size: 16px;
  padding: 0 22px;
  margin: 10px;
  font-weight: 300;
  color: $color-brand;
}

.button.flat {
  font-family: 'Roboto', sans-serif;
  color: $color-brand;
  font-size: 15px;
  font-weight: 700;
  white-space: normal;
  border: 0;
  padding: 0;
}

.button:first-child {
  margin-left: 0;
}

.button:last-child {
  margin-right: 0;
}

.button.is-primary,
.button.is-primary:focus,
.button.is-primary:hover {
  border: none;
  background: $color-brand;
  color: white;
}

.button.is-large {
  padding: 0 40px;
  font-size: 26px;
}

.button:focus {
  outline: none;
}

@media (max-width: 680px) {

  .button,
  .button:focus {
    font-size: 14px;
    padding: 0px 12px;
  }

  .button.is-large {
    padding: 0 20px;
    font-size: 22px;
  }

}

.icon-button {
  background: none;
  border: none;
  overflow: hidden;
  border-radius: 200px;
}

.icon-button i {
  font-size: 26px;
}

.buttons {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 20px 0 40px;
  margin: inherit auto;

  @media (max-width: 680px) {
    flex-direction: column;

    .button:not(.is-primary) {
      border: 0;
      padding: 0;
      margin: 10px 0;
      text-decoration: underline;
      font-size: 80%;
      display: block;
      background: transparent;
      order: 2;
      display: inline-block;
      clear: both;
    }
  }
}

.switch input[type=checkbox]:checked+.check {
  background: $color-brand;
}

.switch:hover input[type=checkbox]:checked+.check {
  background: $color-brand;
}

.switch input[type=checkbox]:focus+.check {
  box-shadow: 0 0 1px 1px #2196F3 !important;
  ;
}

.switch .control-label {
  padding-left: 1px;
}

.overflow-elipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  display: block;
}


@media (min-width: 600px) {
  .mobile-visible {
    display: initial;
  }
}

@media (max-width: 600px) {
  .mobile-invisible {
    display: none;
  }
}


.narrow-content {
  max-width: $narrow-screen;
}

#access-data-list {
  margin: 50px auto;
  max-width: 600px;
  padding: 40px;
  letter-spacing: initial;

  li {
    text-align: left;
    list-style-type: circle;
    font-size: 120%;

    &:not(:last-child) {
      padding-bottom: 10px;
    }
  }
}